@font-face {
    font-family: "Bangers";
    src: url("../Ressources/police/Bangers.ttf");
}
@font-face {
    font-family: "Inter";
    src: url("../Ressources/police/Inter-VariableFont_slntwght.ttf");
}

body{
    background: url(../Ressources/img/fonds/fondManga.png);
    background-size: cover;
    overflow-y: hidden;
}
.slide{
    padding-top: 80px;
    padding-bottom: 80px;
     display: flex;
     overflow:scroll;
     scroll-behavior: smooth;
 }
 .ensemble-fleche{
     width:1000px;
     min-width: 1170px;
     display: flex;
     margin: auto;
     top: 50px;
     position: relative;
 }

 ::-webkit-scrollbar{
     display: none;
 }
 .card{
border: 1px solid whitesmoke;
width:350px;
height: 400px;
min-width:350px;
min-height:500px;
transition-duration: 1000ms;
/* important ce padding */
margin: 10px;
z-index: 1;
background: url(../Ressources/img/manga/manga/mangaSlide1.jpg);
background-size: cover; display: flex;
justify-content: flex-end;
align-items: flex-end;

}
.card1{
background: url(../Ressources/img/manga/manga/mangaSlide2.jpg);
background-size: cover;
display: flex;
justify-content: flex-end;
align-items: flex-end;
}
.card2{
background:url(../Ressources/img/manga/manga/mangaSlide3.jpg);
background-size: cover;
display: flex;
justify-content: flex-end;
align-items: flex-end;

}
.card3{
background:url(../Ressources/img/manga/manga/mangaSlide1.jpg);
background-size: cover;
display: flex;
justify-content: flex-end;
align-items: flex-end;
}
.card4{
background:url(../Ressources/img/manga/manga/mangaSlide1.png3.jpg);
background-size: cover;
display: flex;
justify-content: flex-end;
align-items: flex-end;
}
.card5{
background:url(../Ressources/img/comics/comic_slides/comslide5.jpg);
background-size: cover;
display: flex;
justify-content: flex-end;
align-items: flex-end;
}
.card6{
background:url(../Ressources/img/comics/comic_slides/comslide1.jpg);
background-size: cover;
display: flex;
justify-content: flex-end;
align-items: flex-end;
}
.card7{
background:url(../Ressources/img/fonds/comslide1.jpg);
background-size: cover;
}
.card8{
background:url(img8.jpg);
background-size: cover;
}
.card9{
background:url(img9.jpg);
background-size: cover;
}

.container{
    width: 1000px;
    height: 90px;
    top: 25px;
    left: 20px;
    position: fixed;
    display: flex;
    justify-content: flex;
    align-items: center;
}

/* les menus */
/* .menu{
    z-index: 1;
    position:absolute;
} */
/* titre page */
.titre{
    font-family: 'Bangers', 'serif';
    font-size: 20px;
    width: 450px;
    height: 60px;
    position:relative;
    left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.4rem solid ;
    border-color: white;
    
    
}
.container h1{
    color: white;
}
.card p{
    color: blue;
}
/* description texte sur les cards */
.details{
    padding: 3px;
    font-family: 'Inter', 'serif';
    font-size: small;
    width: 200px;
    height: 150px;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
}
.details b{
    font-family: 'Bangers', 'serif';
    font-size: medium;
    color: #211585;
}

.details P{
    color: #211585;
}
.svg-lien{
    top: 100px;
    position: relative;
}
/* Fleche retour */
.retour{
    width: 50px;
    height: 50px;
    position: relative;
    top: 420px;
    left: 35px;
}

/* Menu animation */
.menu{
    left: 20px;
    top: 20px;
    position: fixed;
    z-index: 20;
    width: 100px;
  }
  
#europe{
    background: url("../Ressources/img/livre/europeFerme.png");
    background-size: 700px 100px;
    width: 700px;
    height: 100px;
    margin: auto;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  #europe:hover{
    background: url("../Ressources/img/livre/europeOuvert.png");
    background-size: 800px 400px;
    width: 800px;
    height: 400px;
    margin: auto;
  
  }
  
  #comics{
    background: url("../Ressources/img/livre/comicsFerme.png");
    background-size: 600px 120px;
    width: 600px;
    height: 120px;
    margin: auto;
    margin-bottom: 20px;
    transition: all 0.3s ease-out;
  }
  
  #comics:hover{
    background: url("../Ressources/img/livre/comicsOuvert.png");
    background-size: 800px 400px;
    width: 800px;
    height: 400px;
    margin: auto;
  }
  
  #manga{
    background: url("../Ressources/img/livre/mangaFerme.png");
    background-size: 700px 120px;
    width: 700px;
    height: 120px;
    margin: auto;
    margin-bottom: 20px;
    transition: all 0.3s ease-out;
  }
  
  #manga:hover{
    background: url("../Ressources/img/livre/mangaOuvert.png");
    background-size: 800px 400px;
    width: 800px;
    height: 400px;
    margin: auto;
  }

  .sidenav {
    height: 100%;
    width: 100vw;
    position: fixed;
    z-index: 100;
    top: 0;
    left: -100vw;
    background-image: url("../Ressources/img/fonds/burgerMenu.png");
    background-size: cover;
    padding-top: 60px;
    transition: left 0.5s ease;
  }
   
  .sidenav.active {
    left: 0;
  }
  .sidenav .home {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 8px;
    right: 80px;
  }

  .sidenav .close {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 25px;
    font-size: 36px;
  }

  .livres{
    position: relative;
    height: 560px;
    width: 800px;
    margin: 150px auto;
  }
  
